==== THINGS TO FIX ====

navbar color change error
gallery image size problem
media query for contact page & about page
add instagram pictures/remove placeholder image
make navbar stay while scrolling
make navebar align with slideshow
fix margins on all pages other than home screen