@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;500;600;700&display=swap');
:root{
  --white: white;
  --dark: #212324;
  --darkGrey: #36393B;
  --lightGrey: #727679;
  --background: #F6F5F1;
  --textColor: #967F79; 
  --lightGreen: #22AAA1;
  --darkGreen: #1d8881;
  --transition: all 0.5s ease;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Taviraj', sans-serif;
  background-color: var(--background);
  color: var(--textColor);
}

body{
    line-height: 1.6;
}

img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 15px 0;
    
}
/********************** Utility Classes *************************************/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

.btn{
    background: var(--lightGreen);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--lightGreen);
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--lightGreen);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}

.btn:hover{
    background: var(--darkGreen);
    color: #fff;
}

.active{
    color: var(--lightGreen)!important;
}


/************************** end of Utility Classes **************************/

/****************************** Header Styling *****************************/

.header{
color: var(--textColor);
}

.top-nav a{
    color: var(--textColor);
}

.brand-and-navBtn{
    background: var(--background);
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}

.brand-name{
    letter-spacing: 5px;
    cursor: pointer;
}

.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--background);
    cursor: pointer;
}

.navBtn:hover{
    background: var(--lightGreen);
    color: var(--darkGreen);
    transition: var(--transition);
}

.top-nav{
    background: #000;
    transform: translateY(-600px);
    transition: var(--transition);
}

.showNav{
    transform: translateY(0);
}


.top-nav ul li{
    float: left;
    display: block;
    padding: 10px 0;
    margin-left: 50px;
}

.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
}

.top-navul a::after{
    content: "";
    height: 2px;
    background: var(--lightGreen);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}

.top-nav ul a:hover::after{
    width: 100px;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: var(--background);
}

.about img{
    height: auto;
    width: 500px;
}

.about-text{
    width: 450px;
}

.main{
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: var(--textColor);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: var(--textColor);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color: var(--textColor);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.social-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}

.social-icons ul a{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.social-icons ul{
    display: flex;
    justify-content: space-around;
}

.social-icons ul a:hover{
    background: var(--lightGreen);
    border-color: var(--lightGreen);
}

.nav-selection {
    margin-top: 2px;
    margin-bottom: 2px;
}

/************************ End of Header ***********************************/

/************************** Main Section *********************************/


/**************************** index.html *******************************/

/* section one */
.section-one {
    margin: 40px 0;
    min-height: 100vh;
}

.sec-one-left{
    height: 100vh;
    background: beige;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}

.sec-one-left div{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.sec-one-left div h3{
    font-size: 28px;
    opacity: 0.9;
}

.sec-one-left div p{
    font-weight: 300;
    opacity: 0.8;
}

.sec-one-right h3{
    color: var(--lightGrey);
}

.sec-one-right >h3{
    text-align: center;
}

.sec-one-right p{
    opacity: 0.9;
    font-weight: 300;
}

.work-content{
    margin: 50px 0;
}

.work-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.work-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("C:\Users\15104\desktop\bootcamp\dads-website\photography-website\images\img2.jpg"),
    center/cover no-repeat;
    height: 400px;
    transition: var(--transition);
}

.work-img-2{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("C:\Users\15104\desktop\bootcamp\dads-website\photography-website\images\img3.jpg"),
    center/cover no-repeat;
    height: 400px;
    transition: var(--transition);
}

.work-imgs div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}

/* section two */
.section-two{
    margin: 40px 0;
}

.section-two h2{
    text-align: center;
    font-size: 40px;
}

.section-two span{
    color: var(--darkGrey);
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.insta-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.insta-imgs > div{
    position: relative;
}

.icon-overlay{
    position: absolute;
    color: var(--background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: rgba(150, 127, 121, 0.5);
    opacity: 0;
    transition: var(--transition);
}

.insta-imgs > div:hover .icon-overlay{
    opacity: 1;
}
/*************************** end of index.html ********************************/



/**************************** gallery.html *******************************/

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

/**************************** end of gallery.html *******************************/


/**************************** contact.html *******************************/

/**************************** end of contact.html *******************************/


/**************************** footer styling *******************************/

.footer{
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container > div{
    margin: 40px 0;
}

.footer-container h2{
    color: var(--lightGreen);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 7px;
}

.footer-container p{
    opacity: 0.7;
}

.footer > p{
    text-align: center;
    font-size: 14px;
}

/**************************** end of footer *******************************/



/**************************** media queries *******************************/

 @media screen and (min-width: 678px){

}

@media screen and (min-width: 800px){
   .insta-imgs{
    .insta-imgs{
        grid-template-columns: repeat(4, 1fr);
    }
   } 
}

@media screen and (min-width: 992px){
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        background: transparent;
    }
    .topnav ul{
        display: flex;
    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .about{
        margin-top: 0;
    }
    .search-icon{
        flex: 0 0 10%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        transition: var(--transition);
    }
    .search-icon i:hover{
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1000px){
    .section-one .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .sec-one-left{
        align-self: center;
    }
    .work-content{
        margin-top: 0;
    }
    .sec-one-left{
        height: 100%;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (min-width: 1200px){
    .footer-container > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1400px){
    
}

@media screen and (min-width: 500px){
    .header{
        padding-bottom: 30px;
    }
    .social-icons{
        display: none;
    }
    .about-content h3{
        width: 100%;
    }
    .about-content blockquote{
        font-size: 16px;
        width: 100%;
    }
    .subs{
        width: 280px;
    }
    .subs i{
        display: none;
    }
    .subs input{
        width: 100%;
    }
    .subs button{
        padding-left: 8px;
        padding-right: 8px;
    }
    h2{
        font-size: 30px!important;
    }
    h3{
        font-size: 20px!important;
    }
    p{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
        padding: 8px 0;
    }
    .work-imgs{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}