

/* =================HEADER SLIDESHOW====================== */

/* Slideshow container */
/*.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* hide imgs by default */
/*.mySlides {
    display: none;
}

/* next and previous btns */
/*.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--color-font);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position "next btn" to the right */
/*.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover. add blackbckground color with a bit of opacity */
/*.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* dots */
/*.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* fade animation */
/*.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
